<%- include('../partials/header.ejs') %>

    <h1>TV Shows on Disney</h1>
    <% for (let i = 0; i < Disney.length; i++) { %>
        <img src=<%= Disney[i].img %> alt="Image of <%= Disney[i].name %> Poster">
        <a href="disney/<%= Disney[i]._id %>">
            <h1><%= Disney[i].name %></h1>
        </a>
        <p><%= Disney[i].synopsis %></p>
    <% } %>
    <a href="/disney/new">Add A TV Show</a>

<%- include('../partials/footer.ejs') %>