<%- include('../partials/header.ejs') %>

<body>
    <h1> <%= Disney.name %> </h1>
    <img src = <%= Disney.img %> alt = 'show image'>
    <h1> <%= Disney.synopsis %> </h1>
    <h1> Genre: <%= Disney.genre %> </h1>
    <h1> Seasons: <%= Disney.seasons %> </h1>
    <h1> Episodes: <%= Disney.episodes %> </h1>
</body>

<%- include('../partials/footer.ejs') %>