<%- include('../partials/header.ejs') %>

<body>
    <h1> <%= singleShow.name %> </h1>
    <img src = <%= singleShow.img %> alt = 'show image'>
    <h1> <%= singleShow.synopsis %> </h1>
    <h1> Genre: <%= singleShow.genre %> </h1>
    <h1> Seasons: <%= singleShow.seasons %> </h1>
    <h1> Episodes: <%= singleShow.episodes %> </h1>
</body>

<%- include('../partials/footer.ejs') %>