<%- include('../partials/header.ejs') %>
<div class="listOfShows">
    <h1 class="showTitle"> <%= myDisney.name %> </h1>
    <img class="showImage" src = <%= myDisney.img %> alt = 'show image'>
    <h1> <%= myDisney.synopsis %> </h1>
    <h1 class="genre"> Genre: <%= myDisney.genre %> </h1>
</div>
<div class="seasonContainer">
    <% for (let i = 0; i < myDisney.seasons.length; i++) { %>
            <hr>
        <div class="seasonsEpisodes">
            <h1>Season: <%= i + 1 %></h1>
            <h1>Year: <%= myDisney.seasons[i].year %></h1>
            <% for (let j = 0; j < myDisney.seasons[i].episodes.length; j++) { %>
                <p><%= myDisney.seasons[i].episodes[j] %></p>
                <% } %>
        </div>
                <% } %>
</div>
        <div class="newShowButton">
            <a href="/disney/<%= myDisney._id %>/edit">Edit</a><br><br>
            <a href="/disney/<%= myDisney._id %>/delete">Delete</a>
        </div>

<%- include('../partials/footer.ejs') %>