<%- include('../partials/header.ejs') %>

<!-- in progresss, not completed -->

    <h1>Edit <%= Hulu.name %></h1>
    <form action="/hulu/<%= Hulu._id %>?_method=PUT" method="POST">
        <label for="name">Name</label>
        <input required type="text" name="name" id="name" value="<%= Hulu.name %>">
        <label for="synopsis">Synopsis</label>
        <input type="text" name="synopsis" id="synopsis" value="<%= Hulu.synopsis %>">
        <label for="image">Image</label>
        <input required type="text" name="image" id="image" value="<%= Hulu.img %>">

        <label for="genre">Genre</label>
        <input required type="text" name="genre" value="<%= Hulu.genre %>">
        
        <label for="seasons.name">Season</label>
        <input type="text" name="season" value="<%= Hulu.name %>">

        <label for="year">Year</label>
        <input type="number" value="<%= Hulu.name %>">

        <label for="episode">Episode</label>
        <input required type="text" value="<%= Hulu.name %>">

        <input type="submit" value="Edit TV Show">
    </form>
    <input type="button" value="Back" onclick="goBack()">

<%- include('../partials/footer.ejs') %>