<%- include('../partials/header.ejs') %>

    <h1>TV Shows on Hulu</h1>
    <% for (let i = 0; i < Hulu.length; i++) { %>
        <a href="hulu/<%= Hulu[i]._id %>">
            <h1><%= Hulu[i].name %></h1>
            <p><%= Hulu[i].synopsis %></p>
            <img src=<%= Hulu[i].img %> alt="Image of <%= Hulu[i].name %> Poster">
            <p><%= Hulu[i].genre %></p>
        </a>
    <% } %>
    <a href="/hulu/new">Add A TV Show</a>

<%- include('../partials/footer.ejs') %>