<%- include('../partials/header.ejs') %>

<body>
    <h1> <%= Hulu.name %> </h1>
    <img src = <%= Hulu.img %> alt = 'show image'>
    <h1> <%= Hulu.synopsis %> </h1>
    <h1> Genre: <%= Hulu.genre %> </h1>
    <h1> Seasons: <%= Hulu.seasons %> </h1>
    <h1> Episodes: <%= Hulu.episodes %> </h1>
</body>

<%- include('../partials/footer.ejs') %>