<%- include('../partials/header.ejs') %>

    <h1> <%= Hulu.name %> </h1>
    <img src = <%= Hulu.img %> alt = 'show image'>
    <h1> <%= Hulu.synopsis %> </h1>
    <h1> Genre: <%= Hulu.genre %> </h1>
    <% for (let i = 0; i < Hulu.seasons.length; i++) { %>
        <h1>Season: <%= i + 1 %></h1>
        <h1>Year: <%= Hulu.seasons[i].year %></h1>
        <% for (let j = 0; j < Hulu.seasons[i].episodes.length; j++) { %>
            <p><%= Hulu.seasons[i].episodes[j] %></p>
        <% } %>
    <% } %>
    <a href="/hulu/<%= Hulu._id %>/edit">Edit</a>
    <a href="/hulu/<%= Hulu._id %>/delete">Delete</a>

<%- include('../partials/footer.ejs') %>