<%- include('../partials/header.ejs') %>

<h1> <%= Netflix.name %> </h1>
<img src = <%= Netflix.img %> alt = 'show image'>
<h1> <%= Netflix.synopsis %> </h1>
<h1> Genre: <%= Netflix.genre %> </h1>
<% for (let i = 0; i < Netflix.seasons.length; i++) { %>
    <h1>Season: <%= i + 1 %></h1>
    <h1>Year: <%= Netflix.seasons[i].year %></h1>
    <% for (let j = 0; j < Netflix.seasons[i].episodes.length; j++) { %>
        <p><%= Netflix.seasons[i].episodes[j] %></p>
    <% } %>
<% } %>
<a href="/netflix/<%= Netflix._id %>/edit">Edit</a>
<a href="/netflix/<%= Netflix._id %>/delete">Delete</a>

<form method="POST" action="/netflix/<%= Netflix._id %>/comments">
    Rating: <input type="number" name="rating" required>
    Comment: <input type="text" name="commentText" id="commentText" required>
    <input type="submit" value="Submit">
</form>
<% for(let i = 0; i < netflixComments.length; i++) { %>
    <h3>Rating: <%= netflixComments[i].rating %> </h3>
    <h3>Comment: <%= netflixComments[i].commentText %></h3>
<% } %>

<%- include('../partials/footer.ejs') %>