<%- include('../partials/header.ejs') %>

<h1> <%= Netflix.name %> </h1>
<img src = <%= Netflix.img %> alt = 'show image'>
<h1> <%= Netflix.synopsis %> </h1>
<h1> Genre: <%= Netflix.genre %> </h1>
<% for (let i = 0; i < Netflix.seasons.length; i++) { %>
    <h1>Season: <%= i + 1 %></h1>
    <h1>Year: <%= Netflix.seasons[i].year %></h1>
    <% for (let j = 0; j < Netflix.seasons[i].episodes.length; j++) { %>
        <p><%= Netflix.seasons[i].episodes[j] %></p>
    <% } %>
<% } %>
<a href="/netflix/<%= Netflix._id %>/edit">Edit</a>
<a href="/netflix/<%= Netflix._id %>/delete">Delete</a>

<form method="POST" action="/netflix/<%= Netflix._id %>/comments">
    <h4>Rate and Comment:</h4>
    <div class="rating"> <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label> <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label> <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label> <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label> </div>
    <br>
<div class="comment-area"> <textarea class="form-control" name="commentText" placeholder="Please give us your opinion here!" rows="4" required></textarea> </div>
    <input type="submit" value="Submit">
</form>
<% for(let i = 0; i < netflixComments.length; i++) { %>
    <h4>User Rating: <%= netflixComments[i].rating %> </h4>
    <h4>Comment: <%= netflixComments[i].commentText %></h4>
    <h4>By: <%= netflixCommentUsers[i] %></h4>
<% } %>

<%- include('../partials/footer.ejs') %>