<%- include('../partials/header.ejs') %>

    <h1> <%= Netflix.name %> </h1>
    <img src = <%= Netflix.img %> alt = 'show image'>
    <h1> <%= Netflix.synopsis %> </h1>
    <h1> Genre: <%= Netflix.genre %> </h1>
    <h1> Seasons: <%= Netflix.seasons %> </h1>
    <h1> Episodes: <%= Netflix.episodes %> </h1>

<%- include('../partials/footer.ejs') %>